<!DOCTYPE html>
<html>
<head>
    <title>Home Secure</title>
    <meta charset="utf-8" />
    <link href="~/api/css/styles" rel="stylesheet" />
</head>
<body>
    <header><h1>Home Secure</h1></header>
    <content>
        @RenderBody()
    </content>
    
</body>
</html>
